.brand {
  height: 48px;
}

mat-icon {
  margin-right: 30px;
}

.active {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(158, 0, 255, 0.6643907563025211) 100%
  );
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: blue;
  bottom: 0;
}
