<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="row brand align-items-center">
        <div class="col-2">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon>
        </div>
        <div class="col">
          <h4>Scada</h4>
        </div>
      </div>
    </div>

    <div class="col">
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="/land" routerLinkActive="active"> Land </a>
        <a mat-tab-link routerLink="/area" routerLinkActive="active"> Area </a>
        <a mat-tab-link routerLink="/plot" routerLinkActive="active"> Plot </a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
  </div>
</div>
<!-- changed content based on url -->
<router-outlet></router-outlet>
