<div class="flex row align-items-center">
  <div class="col-2">
    <div class="station">
      <img src="../../../assets/Station-01.svg" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="col">
    <img src="../../../assets/Pipe-01.svg" class="item_1" alt="" />
  </div>
  <div class="col">
    <img src="../../../assets/Valve-01.svg" class="item_2" alt="" />
  </div>
  <div class="col">
    <img src="../../../assets/Pipe-01.svg" class="item_3" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Tank-01.svg" class="item_4" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Pipe-01.svg" class="item_5" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Valve-01.svg" class="item_6" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Pipe-01.svg" class="item_7" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Tank-01.svg" class="item_8" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Pipe-01.svg" class="item_9" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Valve-01.svg" class="item_10" alt="" />
  </div>
  <div class="col">
    <img src="../.../../../../assets/Pipe-01.svg" class="item_11" alt="" />
  </div>

  <div class="col item_12">
    <div class="row align-items-center">
      <div class="col">
        <img
          src="../.../../../../assets/Pipe-01.svg"
          class="rotated-pipe rotated-pipe-1"
          alt=""
        />
      </div>
      <div class="col first">
        <img src="../.../../../../assets/Pipe-01.svg" alt="" />
      </div>
      <div class="col first">
        <img src="../.../../../../assets/Land-01.svg" alt="" />
      </div>
    </div>
  </div>
  <!-- <div class="col item_13">
    <div class="row align-items-center">
      <div class="col">
        <img
          src="../.../../../../assets/Pipe-01.svg"
          class="rotated-pipe rotated-pipe-1"
          alt=""
        />
      </div>
      <div class="col first">
        <img src="../.../../../../assets/Pipe-01.svg" alt="" />
      </div>
      <div class="col first">
        <img src="../.../../../../assets/Land-01.svg" alt="" />
      </div>
    </div>
  </div> -->
</div>

<br />

<!-- <div class="col">
  <div class="row align-items-center">
    <div class="col">
      <img
        src="../.../../../../assets/Pipe-01.svg"
        class="rotated-pipe rotated-pipe-2"
        alt=""
      />
    </div>
    <div class="col first">
      <img src="../.../../../../assets/Pipe-01.svg" alt="" />
    </div>
    <div class="col">
      <img src="../.../../../../assets/Land-01.svg" alt="" />
    </div>
  </div>
</div> -->
